<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundoo Notes</title>
</head>
<body>
    <header class="header">
        <h1 class="content">Fundoo Notes Registration</h1>
    </header>
    <form class="register" method="post">
        {% csrf_token %}
        <div class="user_details">
            <label class="label" for="username">username</label>
            <input class="input" type="text" id="username" name="username" placeholder="Enter Username" required>
        </div>
        <div class="user_details">
            <label class="label" for="password">password</label>
            <input class="input" type="password" id="password" name="password" placeholder="Enter Password" required>
        </div>
        <div class="user_details">
            <label class="label" for="first_name">First Name</label>
            <input class="input" type="text" id="first_name" name="first_name" placeholder="Enter First Name" required>
        </div>
        <div class="user_details">
            <label class="label" for="last_name">Last Name</label>
            <input class="input" type="text" id="last_name" name="last_name" placeholder="Enter Last Name" required>
        </div>
        <div class="user_details">
            <label class="label" for="email">Email</label>
            <input class="input" type="email" id="email" name="email" placeholder="Enter Email ID" required>
        </div>
        <div class="buttons">
            <button class="button" type="reset">Cancel</button>
            <button class="button" type="submit">Register</button>
        </div>
    </form>
</body>
</html>